[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	path = Carthage/Checkouts/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Carthage/Checkouts/HTTPParserC"]
	path = Carthage/Checkouts/HTTPParserC
	url = https://github.com/Building42/HTTPParserC.git
